<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header>
    <div>
      <h3 class="float-md-start mb-0">Spaced seeds</h3>

    </div>
  </header>

  <main class="px-3 container-fluid mt-4">
    <div class="row">
      <div class="col-12 border-primary border rounded">
          <div class="form-group mt-3">
            <label for="stringRInput">Stringa R</label>
            <input type="text" 
            class="form-control"
            [(ngModel)]="mainString"
             id="stringRInput" placeholder="Inserisci stringa R">
          </div>
          <div class="form-group mb-3">
            <label for="substringInput">Stringa r</label>
            <input type="text" 
            [(ngModel)]="subString"
            class="form-control" id="substringInput" placeholder="Inserisci stringa r">
          </div>
          <button class="btn btn-primary mx-2 mb-3" [disabled]="!hasValues"  (click)="calcSpacedSeeds()">Calcola</button>
          <button class="btn btn-primary mb-3"  (click)="setExampleRString()">Stringa di esempio</button>
      </div>
    </div>
    <div class="row mt-2">
        <table class="col-12 table">
          <tbody  *ngFor="let message of messages">
            <tr> <p>{{message}}</p></tr>
          </tbody>
         
        </table>
    </div>
  </main>


</div>